In [1]:
# extract information with age greater than 25 from the following list of dictionaries
data = [{"name": "Alice", "age": 28}, {"name": "Bob", "age": 24}, {"name": "Charlie", "age": 30}]

In [1]:
# use list comprehension to flatten the matrix
matrix = [[1, 2, 3], [4, 5, 6], [7, 8, 9]]
flattened_matrix = [num for row in matrix for num in row]
flattened_matrix

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [ ]:
# show matrix {1, 4, 7}
first_column = [row[0] for row in matrix]
first_column

[1, 4, 7]

In [29]:
new_df = matrix[1:2]
new_df

[[4, 5, 6]]

In [28]:
# how to flatten a 3d matrix
three_D_matrix = [[[1, 2, 3], [1, 2, 3], [1, 2, 3]], [[1, 2, 3], [1, 2, 3], [1, 2, 3]], [[1, 2, 3], [1, 2, 3], [1, 2, 3]]]
# Flatten the 3D matrix to a 1D list 
flattened_matrix = [item for sublist1 in three_D_matrix for sublist2 in sublist1 for item in sublist2] 
print(flattened_matrix)

[1, 2, 3, 1, 2, 3, 1, 2, 3, 1, 2, 3, 1, 2, 3, 1, 2, 3, 1, 2, 3, 1, 2, 3, 1, 2, 3]

In [20]:
# use enumerate() for looping to add 5 extra point to each grade in the list, the 5th one add 10 
grades = [88, 92, 78, 65, 50, 94]
grades

[88, 92, 78, 65, 50, 94]

In [21]:
for i, grade in enumerate(grades):
    if i == 4:
        grades[i] = grade + 10
    else:
        grades[i] = grade + 5
grades

[93, 97, 83, 70, 60, 99]

In [31]:
# print the grades if they are prime value
# prime value is a number that can only be divided by itself and 1

def is_prime(num):
    if num <= 1:
        return False
    for i in range(2, int(num**0.5) + 1):
        if num % i == 0:
            return False
    return True

grades = [93, 97, 83, 70, 60, 99]

# Filter the list to print only prime values
prime_grades = [grade for grade in grades if is_prime(grade)]

print("Prime grades:", prime_grades)

Prime grades: [97, 83]

In [22]:
# filter out elements depend on their index: 
# use list comprehension and enumerate() to get elements with even index
data = [100, 200, 300, 400, 500]

In [23]:
# create a dictionary from lists using zip()
keys = ['name', 'age', 'grade']
values = ['Alice', 25, 'A']

In [24]:
# sort the dictionary based on the ages using lambda
students = [
    {'name': "John", 'grade': "A", 'age': 20}, 
    {'name': "Jane", 'grade': "B", 'age': 21}, 
    {'name': "Joss", 'grade': "A+", 'age': 19}, 
    {'name': "Jack", 'grade': "A-", 'age': 16}, 
    {'name': "Dave", 'grade': "C", 'age': 25}, 
]

In [25]:
# Sort by age, then by salary if ages are the same
# use lambda
employees = [
    {'name': 'Alice', 'age': 30, 'salary': 80000},
    {'name': 'Bob', 'age': 25, 'salary': 50000},
    {'name': 'Charlie', 'age': 35, 'salary': 120000},
]

In [26]:
# Generators are highly useful in data-heavy applications:

# Reading Large Files: Use generators to read large files line by line without loading the entire file into memory.
# Data Streaming: Stream data entries for real-time data processing.
# Large Calculations: Break down massive calculations into smaller, more manageable chunks.